<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://Java.sun.com/xml/ns/javaee" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		id="WebApp_ID" 
		version="3.0">
    <display-name>JavaEEBasic</display-name>
    <welcome-file-list>
	     <welcome-file>index.html</welcome-file>
	     <welcome-file>index.htm</welcome-file>
	     <welcome-file>index.jsp</welcome-file>
	     <welcome-file>default.html</welcome-file>
	     <welcome-file>default.htm</welcome-file>
	     <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
  
    <!-- 使用自定义的页面请求过滤器, 相当于页面拦截器的作用!! -->
    <!-- xmlns="http://Java.sun.com/xml/ns/javaee" 将抬头的java改成Java !! -->
	<filter>
		<filter-name>RequestFilter</filter-name>
		<filter-class>com.ctong.servlet.basic.RequestFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>RestrictionFilter</filter-name>
		<url-pattern>/root/*</url-pattern>
		<url-pattern>/intern/*</url-pattern>
	</filter-mapping>
</web-app>